<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/stylesheet.css">
    </head>
    <body>
        {{>header}}
        <div class='main-content'> 
            {{errorMessage}} You might instead want to visit <a href="/">Weather</a>
        </div>
        {{>footer}}
    </body>
</html>