<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/stylesheet.css">
    </head>
    <body>
        {{>header}}
        <p>{{errorMessage}}</p>
        {{>footer}}
    </body>
</html>