<html>

    <head>
        <link rel="stylesheet" href="/css/stylesheet.css"></link>
        <title>{{title}}</title>
    </head>
    
    <body>
        {{>header}}

        <div class="main-content">
        Weather App that legit serves no purpose and have put way too much unnecessary time in. 
        </div>

        {{>footer}}
    </body>

</html>