<html>
    <head>
        <link rel="stylesheet" href="/css/stylesheet.css"></link>
        <title>{{title}}</title>
    </head>
    <body>
        {{>header}}

        <div class="main-content">

        Weather App made by two idiots!
        Check us out on GitHub: ashikinami and shivampande2806.
        </div>

        {{>footer}}
    </body>


</html>