<html>
    <head>
        <link rel="stylesheet" href="/css/stylesheet.css"></link>
        <title>{{title}}</title>
    </head>
    <body>
        {{>header}}

         <div class="main-content">
             {{ helpMessage }}.
        </div>

        {{>footer}}
    </body>
</html>