body {
    color: #2E3440;
    background-image: url(../img/to-the-cloud.png);
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
    margin-top: 16px;
    border-top: 1px solid #4C566A;
    padding: 16px 0;

}

footer {
    color: #2E3440;
    border-top: 1px solid #4C566A;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    color: #2E3440;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px 0;
}

p {
    font-size:16px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

div a{
    color: #4C566A;
    margin-right: 16px;
    text-decoration: none;
    
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #999999;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #4C566A;
    background: #4C566A;
    color: white;
    padding: 8px;
    margin-top: 16px;
}